@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  --ivoire: #f2f2f2;
  --argent: #b0b0b0;
  --gold: #d4af37;
  --vert-mousse: #5b7a5f;
  --nuit: #1b1f23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--nuit);
}
section,
nav {
  max-width: 1440px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.btn {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.6rem;
  font-weight: 400;
  border-radius: 1rem;
  border: none;
  width: 100%;
  height: 6rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.6rem;
  color: var(--ivoire);
  font-weight: 500;
}
li {
  list-style-type: none;
}
p {
  font-family: "Cormorant Garamond", serif;
  line-height: 4rem;
}

.btn-full {
  margin-top: 6rem;
  color: var(--nuit);
  background-color: var(--gold);
}
.btn-outline {
  background-color: transparent;
  color: var(--ivoire);
  border: 1px solid var(--gold);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.title-1 {
  font-family: "CINZEL";
  font-size: 4rem;
  font-weight: 400;
  color: var(--gold);
}
.title-2 {
  font-family: "CINZEL";
  font-size: 3.6rem;
  font-weight: 400;
  color: var(--gold);
}
.title-4 {
  font-family: "CINZEL";
  font-size: 2.6rem;
  font-weight: 400;
  color: var(--gold);
}
--------------------------------
  header
  --------------------------------
  header {
  border: 1px solid white;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  padding: 1rem;
}

.navbar {
  width: 100%;
}

/* Logo */
.navbar .logo {
  font-family: "CINZEL", serif;
  font-weight: 500;
  font-size: 3rem;
  color: var(--argent);
}

/* Hamburger */
.navbar .menu-toggle {
  color: var(--ivoire);
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}
.menu-toggle .close {
  display: none;
}

/* Liens du menu (cachés par défaut) */
.navbar__list-primary {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

/* Icônes sociales — toujours visibles */
.navbar__list-secondary {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}
.navbar__list-secondary li a {
  font-size: 2.6rem;
  color: var(--gold);
}
/* Quand menu actif */
.navbar.active .navbar__list-primary {
  display: flex;
}

/* 
HERO SECTION */

.hero .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero .container {
  text-align: center;
}

.hero .hero-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Texte et paragraphe */

.hero .text {
  color: var(--ivoire);
  font-size: 2.6rem;
}

/* Aside images en mobile */
.hero aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero aside .image {
  text-align: center;
}

.hero aside img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ABOUT SECTION */
.about {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-top: 8rem;
}

.about .container:first-child {
  color: var(--ivoire);
  font-size: 2.6rem;
  text-align: center;
}
.about .container:first-child .text {
  color: var(--ivoire);
  font-size: 2.6rem;
  text-align: center;
  margin: 2rem 0;
}

.about .container:last-child,
.about .container:last-child image {
  height: 100%;
}
.about .about-image {
  width: 100%;
  object-fit: cover;
}
/* SECTION INTERSECTION */

.intersection {
  background-color: var(--vert-mousse);
  margin-top: 10rem;
  text-align: center;
}
.intersection h2 {
  padding-top: 6rem;
  color: var(--ivoire);
}
.intersection .text {
  font-size: 2.6rem;
  color: var(--ivoire);
  padding-bottom: 6rem;
}

/* GALLERIE SECTION */
.gallery {
  margin-top: 10rem;
  text-align: center;
}
.gallerie {
  display: grid;
  grid-template-columns: 1fr;
}

.gallerie img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 1rem;
}

@media only screen and (min-width: 1024px) {
  header {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--ivoire);
  }

  .navbar {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo à gauche */
  .navbar .logo {
    flex: 1;
  }

  /* Menu centré */
  .navbar__list-primary {
    display: flex;
    flex: 2;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
  }

  /* Icônes à droite */
  .navbar__list-secondary {
    flex: 1;
    justify-content: flex-end;
    margin-top: 0;
  }

  /* On cache le hamburger en desktop */
  .menu-toggle {
    display: none;
  }
  /* HERO DESKTOP SECTION */
  .hero .grid {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: stretch; /* Les colonnes s'alignent en hauteur */

    padding: 0;
  }

  /* Colonne image */
  .hero .container:first-child {
    order: 2;
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
  }

  /* Faire en sorte que le conteneur prenne 100% de la hauteur */
  .hero .container:first-child,
  .hero .container:first-child .image {
    height: 100%;
  }

  .hero .hero-image {
    width: 100%;
    height: 100%; /* maintenant ça fonctionne */
    object-fit: cover;
    display: block;
  }

  /* Colonne texte */
  .hero .container:last-child {
    order: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .hero .container:last-child .text-container {
    width: 60%;
  }

  /* Aside horizontal */
  .hero aside {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  /* Taille fixe des images d'aside */
  .hero aside img {
    width: 220px;
    height: 220px;
    object-fit: cover;
  }
  /* ABOUT SECTION */
  .about .grid {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: stretch;
  }

  .about .container:last-child,
  .about .container:last-child .image {
    height: 100%;
  }

  .about .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .about .grid .container:first-child {
    order: 2;
    text-align: left;
    padding-left: 3rem;
  }
  .about .grid .container:first-child .text {
    text-align: left;
  }
  .about .grid .container:last-child {
    order: 1;
    margin-right: 16rem;
  }

  /* GALLERIE MOBILE SECTION */

  .gallerie {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallerie img {
    height: 30rem;
  }
  .gallery h2{
    text-align: left;
    margin-bottom: 4rem;
  }
  .gallery .btn{
    background: transparent;
    color: var(--ivoire);
    border: 1px solid var(--gold);
    width:22rem;
    margin-top: 10rem;
  }
  /* Lightbox */
  .lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 0.5rem;
  }

  .lightbox-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }
}
