@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
:root {
  --ivoire: #f2f2f2;
  --argent: #b0b0b0;
  --gold: #d4af37;
  --vert-mousse: #5b7a5f;
  --nuit: #1b1f23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--nuit);
}

.btn {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.6rem;
  font-weight: 400;
  border-radius: 1rem;
  border: none;
  width: 100%;
  height: 6rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.6rem;
  color: var(--ivoire);
  font-weight: 500;
}
li {
  list-style-type: none;
}

.btn-full {
  margin-top: 6rem;
  color: var(--nuit);
  background-color: var(--gold);
}
.btn-outline {
  background-color: transparent;
  color: var(--ivoire);
  border: 1px solid var(--gold);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* 

--------------------------------
          header
-------------------------------- */

header {
  border: 1px solid white;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  padding: 1rem;
}

.navbar {
  width: 100%;
}

/* Logo */
.navbar .logo {
  font-family: "CINZEL", serif;
  font-weight: 500;
  font-size: 3rem;
  color: var(--argent);
}

/* Hamburger */
.navbar .menu-toggle {
  color: var(--ivoire);
  font-size: 4rem;
  text-align: center;
  margin: 1rem 0;
}
.menu-toggle .close {
  display: none;
}

/* Liens du menu (cachés par défaut) */
.navbar__list-primary {
  display: none;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

/* Icônes sociales — toujours visibles */
.navbar__list-secondary {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;


}
.navbar__list-secondary li a {
  font-size: 2.6rem;

}
/* Quand menu actif */
.navbar.active .navbar__list-primary {
  display: flex;
}
@media only screen and (min-width: 600px) {
  header {
    height: 10rem;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo à gauche */
  .navbar .logo {
    flex: 1;
  }

  /* Menu centré */
  .navbar__list-primary {
    display: flex;
    flex: 2;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    border: 1px solid red;
  }

  /* Icônes à droite */
  .navbar__list-secondary {
    flex: 1;
    justify-content: flex-end; 
    margin-top: 0;
    border: 1px solid red;
  }

  /* On cache le hamburger en desktop */
  .menu-toggle {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
